<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>
    	Alex's Resume
    </title>
  </head>
  <body>
    <div class="container">
      <br>
        <div class="row">
          <div class="col">
          <h1>SHIAONDO</h1>
          <h2>ORKUMA ALEX</h2>
          </div>
        <div class="col">
          <img src="https://res.cloudinary.com/hashdynamics/image/upload/v1629305181/Favicon_j2vwc0.png" class="rounded float-right" alt="zuriteam-logo" style="width: 100px; height: 100px;">
        </div>
        </div>
        <hr />
      <br>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="container">
            <p class="head">Interests</p>
            <ul>
              <li>Drawing</li>
              <li>Photography</li>
              <li>Design</li>
              <li>Programming</li>
              <li>Computer Science</li>
            </ul>
          </div>
          <div class="container">
            <p class="head">Education</p>
            <ul>
              <a href="http://www.wiltonhighschool.org/pages/Wilton_High_School">
                <li>Wilton High School</li>
              </a>
              <!--Link-->
              <a href="https://www.silvermineart.org/">
                <li>Silvermine School of Arts</li>
              </a>
              <li>Codeacademy</li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="container">
            <p class="head">Skills</p>
            <ul>
              <li>Web Design with HTML & CSS</li>
            </ul>
            <ul>
              <li>Web Design with HTML & CSS</li>
            </ul>
            <ul>
              <li>Web Design with HTML & CSS</li>
            </ul>
          </div>
          <div class="container">
            <p class="head">Experience</p>
            <ul>
              <li>Student Technology Intern for Wilton School District</li>
              <li>Babysitter</li>
            </ul>
            <p class="head">Extracurriculars</p>
            <ul>
              <li>Recycling Club</li>
              <li>Gardening Club</li>
              <li>Book Club</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <form>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
          </div>
        </div>
        <div class="container">
          <button type="submit" class="btn btn-primary">Contact Me</button>
        </div>
      </form>
    </div>


 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>